numpy
Pillow
opencv-python
PyOpenGL @ git+https://github.com/mcfletch/pyopengl.git@release-3.1.8#egg=PyOpenGL
PyQt6
termcolor
websocket_client
flask
flask_cors
pyreadline3
openai
gTTS
google-cloud-texttospeech
matplotlib
PyYAML
torch
torchvision
